
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>To-Do List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</body>

<footer>
  <!-- Copyright 2023 Aseel Bahakeem  -->
  <section id="footer">
    <div class="socials">
 
      <a href="https://github.com/aseelbahakeem"><i style="font-size:34px"   class="fa">&#xf092;</i></a>
      <a href="linkedin.com/in/aseel-bahakeem-206b47200/"><i style="font-size:34px" class="fa">&#xf08c;</i>
      </a>
    </div>
    <p class="copyright" >© Aseel Bahakeem</p>
  </section>
</footer>

</html>
